<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Currency');
            data.addColumn('number', 'Amount');
            data.addRows([[${chartData}]]);

            var options = {chartArea:{left:0,top:0,width:"90%",height:"90%"}
                ,height: "50%"
                ,width: "50%"};

            var chart = new google.visualization.PieChart(document.getElementById('chart_portfolio'));
            chart.draw(data, options);
        }
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/header :: header"></header>

<form th:action="@{/user/update}" method="post">
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-uppercase mt-5">Account:</h3>
                <h4 class="text-center text-uppercase mb-5 mt-2" th:text="${name + ' - ' + balance + ' ' + baseCurrency}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="description" class="text">Description:</label><br>
                    <input type="text" name="description" id="description" class="form-control" th:value="${description}">
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>

<!--        Investment portfolio -->
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="card mt-4">
                    <div class="card-header">Investment portfolio:</div>
                    <ul class="list-group">
                        <div th:each="currencyAmount: ${investmentPortfolio}" >
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="link-body-emphasis text-decoration-none" th:text="${currencyAmount.currencyCode}"></a>
                                <span class="badge bg-primary rounded-pill">
                                    <span th:text="${currencyAmount.amount}"></span>
                                </span>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3" style="height:200px;">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-0 pt-3">
                        <div id="chart_portfolio"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card mt-4">
                    <div class="card-header">Stock transactions:</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Based</th>
                            <th scope="col">Purchased</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Opened</th>
                            <th scope="col">Changed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="stockTransaction: ${stockTransactions}" >
                            <tr>
                                <td th:text="${stockTransaction.baseCurrency}"/>
                                <td th:text="${stockTransaction.purchasedCurrency}"/>
                                <td th:text="${stockTransaction.amount}"/>
                                <td th:text="${stockTransaction.status}"/>
                                <td th:text="${stockTransaction.openDateTime}"/>
                                <td th:text="${stockTransaction.lastChangesDateTime}"/>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="position-relative mt-5">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <input type="submit" name="submit" class="btn btn-primary btn-md" value="Update">
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</form>
<footer class="mt-auto">
    <div th:insert="blocks/footer :: footer"></div>
</footer>
</body>
</html>