<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase mb-5 mt-5">Trader emulator</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <h4>About project:</h4>
                <p>The site is creating for automatic trading on the stock exchange, initially for micro trading of
                    currencies, then there may be an extension for long-term investments. The main purpose of the site
                    is to collect information about the market and test various trading strategies in emulation mode; in
                    the future, it is possible to test real trading on the exchange.</p>
                <p>The second goal of this project is to make a pet project in Java for a better understanding of the
                    development process.</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>
<footer class="mt-auto">
    <div th:insert="blocks/footer :: footer"></div>
</footer>
</body>
</html>