<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/header :: header"></header>

<form th:action="@{/user/update}" method="post">
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase mb-5 mt-5">User info</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="username" class="text">Username:</label><br>
                    <input type="text" name="user.username" id="username" class="form-control" th:value="${username}">
                </div>
                <div class="form-group mt-2">
                    <label for="email" class="text">Email:</label><br>
                    <input type="text" name="email" id="email" class="form-control" th:value="${email}">
                </div>
                <div class="form-group mt-2">
                    <label for="roles" class="text">Roles:</label><br>
                    <input type="text" name="roles" id="roles" class="form-control" th:value="${roles}">
                </div>

                <div class="card mt-4">
                    <div class="card-header">Accounts:</div>
                    <ul class="list-group">
                        <div th:each="account: ${accounts}" >
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="link-body-emphasis text-decoration-none" th:href="@{/account/info(id=${account.id})}" th:text="${account.name}"></a>
                            <span class="badge bg-primary rounded-pill">
                                <span th:text="${account.balance}"></span>
                                <span th:text="${account.baseCurrency}"></span>
                            </span>
                        </li>
                        </div>
                    </ul>
                </div>
                <div class="position-relative mt-5">
                    <div class="position-absolute top-50 start-50  translate-middle">
                        <input type="submit" name="submit" class="btn btn-primary btn-md" value="Update">
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</form>
<footer class="mt-auto">
    <div th:insert="blocks/footer :: footer"></div>
</footer>
</body>
</html>