<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-0 mb-0 border-bottom px-md-4">

        <span class="fs-4 px-2 ">Trader</span>
        <div class=" p-3 me-3 py-2 bg-success text-white" sec:authentication="name"></div>
        <div sec:authorize="isAuthenticated()">

            <form th:action="@{/logout}" method="post">
                <input type="submit" name="logOut" class="btn btn-danger btn-md" value="LogOut">
            </form>
        </div>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
<!--            <p class="p-3 me-3 py-2 ml-2 pb-0 mb-0 bg-success text-white" th:text="${username}"></p>-->
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Home</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/registration">Registration</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">LogIn</a>
<!--            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/logout">LogOut</a>-->
<!--            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/admin">Admin</a>-->
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/chart/pie">Chart pie</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/chart/line">Chart line</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/chart/exchange_rate_history">Exchange rate history</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/user/info">User info</a>
        </nav>

    </div>
</div>